/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins",sans-serif;
  background:#f5f7fb;
  color:#1f2937;
}

button,
input,
textarea,
select{
  font-family:inherit;
}

button{
  cursor:pointer;
}

input,
textarea,
select{
  outline:none;
}

a{
  text-decoration:none;
  color:inherit;
}

.container{
  width:90%;
  max-width:1150px;
  margin:35px auto;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#c7c7c7;
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
  background:#a9a9a9;
}